<mat-select [(value)]="selectedMaterial" placeholder="Type">
    <mat-option *ngFor="let material of this.materials?.data" (onSelectionChange)="changeSelectedMaterial(material)" [value]="material">{{material.name}}</mat-option>
</mat-select>

<div class="material-item">
    Name
    <input matInput [value]="selectedMaterial?.name" readonly="true" placeholder="Name">
</div>
<div class="material-item">
    Measure
    <input [value]="selectedMaterial?.measure" matInput readonly="true" placeholder="Measure">
</div>
<div class="material-item">
    Quantity
    <input matInput [(ngModel)]="quantity" type="number" placeholder="Quantity">
</div>
<div class="material-item">
    Price per one
    <input matInput [(ngModel)]="pricePerOne" type="number" placeholder="Price per one">
</div>

<button mat-button (click)="addMaterial();">Add material</button>